body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Login / Sign up - header */
#sign-up{
  color: red;
  margin-right: 3%;
}
#sign-up-text{
  margin-right: 1%;
}

/* Login - Login textbox */
.login-subtitle {
  color: black;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 62%;
  width: 40%;
  font-size: 20px;
}

.login-img{
  margin-top: 10%;
  display: block;
  position: relative;
  height: 100vh;
  width: 100%;
}

.login-box {
  float: right;
  position: absolute;
  left: 60%;
  width: 25%;
  height: 7%;
}

#username {
  top: 45%;
}

#password{
  top: 55%;
}

.login-btn {
  color: white;
  position: absolute;
  background-color: var(--company-main);
  padding: 0.7% 4%;
  border: 1px solid var(--company-main);
  border-radius: 5px;
  top: 70%;
  left: 65%;
}

.forgot-pass {
  color: gray;
  position: absolute;
  top: 77%;
  left: 67%;
  font-size: 12px;
}

/*Sign Up pages - content*/
.signup-btn{
  width: 30%;
  height: 100vh;
  display: inline-block;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 25px;
  margin-left: 10%;
  margin-top: 2%;
}

#signup-heading{
  margin-top: 15%;
}

.signup-head{
  font-size: 22px;
}

.signup-content{
  font-size: 12px;
}

.signup-img{
  padding-left: 30%;
}

#sign-up-div{
  background-color: #E9E9F0;
  padding: 3%;
}

.signup-form{
  width:30%;
  height: 100vh;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 25px;
  margin-left: 10%;
  margin-top: 2%;
}

#firstname, #lastname{
  top: 40%;
  width: 12%;
}
#lastname{
  left: 75%;
}
#company, #email, #newpass, #confirmpass{
  top: 50%;
  width: 27%;
}
#email{
  top: 60%;
}
#newpass{
  top: 70%;
}
#confirmpass{
  top: 80%;
}
#join-btn{
  top: 90%;
}
#linkedin{
  top: 100%;
  background-color: #E9E9F0;
}
/* Verification Page - Content*/
.verification-box{
  float: right;
  position: relative;
  left: 115%;
  width: 8%;
  margin-left: 4%;
  top: 40%;
  height: 7%;
  font-size: 20px;
}
#verify-para{
  float: right;
  position: absolute;
  left: 60%;
  top: 40%;
}
#resend-para{
  float: right;
  position: absolute;
  left: 60%;
  top: 80%;
}
